{namespace ce=PatrickBroens\Contentelements\ViewHelpers}

<div id="c{data.uid}" {ce:attribute.class(names: {0: '{ce:format.layoutClass(key: \'{data.layout}\')}', 1: '{ce:format.behaviourClasses(keys: \'{data.behaviour}\', mapping: \'{settings.behaviour.classNameMapping}\')}'})}>

	<f:if condition="{data.galleryPosition.noWrap} != 1">
		<f:render partial="Header" arguments="{_all}" />
	</f:if>

	<div class="ce-textpic ce-{data.galleryPosition.horizontal} ce-{data.galleryPosition.vertical}{f:if(condition: '{data.galleryPosition.noWrap}', then: ' ce-nowrap')}">

		<f:if condition="{data.galleryPosition.vertical} != 'below'">
			<f:render partial="MediaGallery" arguments="{_all}" />
		</f:if>

		<div class="ce-bodytext">

			<f:if condition="{data.galleryPosition.noWrap}">
				<f:render partial="Header" arguments="{_all}" />
			</f:if>

			<f:format.html>{data.bodytext}</f:format.html>
		</div>

		<f:if condition="{data.galleryPosition.vertical} == 'below'">
			<f:render partial="MediaGallery" arguments="{_all}" />
		</f:if>

	</div>

	<f:render partial="Footer" arguments="{_all}" />
</div>